body {
    background: url("../images/Laura-vinck-427554-unsplash.jpg");
    background-size: cover;
}

.jumbotron {
    height: 250px; 
    text-align: center;
    opacity: .7; 
    box-shadow: 0 6px #1f1f1a;
    border: 10px groove rgb(117, 105, 105);
}
.wrapper {
    margin: 20px auto;
    padding: 20px;  
    background-color: rgb(236, 130, 130);
    opacity: .90;
    border: 5px; stroke-dashoffset: 35%;
    height: 750px;
    width: 650px;
    text-align: center;
    box-shadow: 0 6px #1f1f1a;
    border: 5px groove red; 
}

.questions {
    font-family: 'Montserrat', sans-serif;

    }
.btn {
    opacity: .50;
    background-color: peachpuff
}

#time-remaining {
    padding: 20px; 
    color: black; 
    
    
}